@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: linear-gradient(45deg, #c20ea1, #dd2d7f, #ee4c5e, #f46d41);
}

